/*页面的样式设置*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
body{
	color: #333;

	/*12号字，1.5倍行距，微软雅黑*/
	font: 12px/1.5em "Microsoft YaHei";
}

/*main的样式*/
.main{
	width: 960px;
	/*height: 200px;*/
	border: 1px solid red;
	margin: 0 auto;
	text-align: center;
}

/*footer的样式设置*/
.footer{
	background-color: #b2a695;
	text-align: center;
	padding-top: 20px;
	line-height: 24px;
}

/*main-img的样式*/
.main-img{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
/*wenzi的样式*/
.wenzi h2{
	border-bottom: 1px dashed #333;
	padding-bottom: 10px;
}
.wenzi{
	padding: 0 20px;
}
.wenzi p{
	text-align: left;
	/*letter-spacing: 2px;*/
	text-indent: 2em;
	line-height: 2em;
}
.wenzi .data{
	text-align: right;
	font-weight: bold;
}