/*页面初始化样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body{
    line-height: 2em;
    font-size: 16px;
    color: #333;
    background-image: url(images/bg.jpg);
}
/*all的样式*/
#all{
    margin: 0 auto;
    width: 960px;
    border-top: 4px solid #73FBFD;
    border-bottom: 4px solid #73FBFD;
    background-color: #fff;
    padding: 0 20px;
}

/*超链接样式*/
a{
    text-decoration: none;
    color: #333;
}

/*gn的样式*/
ul{
    list-style: none;
}
.gn ul li:nth-child(4) #one{
    padding: 0 11px 0 16px;
    font-size: 28px;
    border-left: 2px dotted #ea36eb;
}
.gn ul li:nth-child(4) #two{
    padding: 0 85px 0 93px;
    font-size: 28px;
}
.gn ul li:nth-child(4) #three{
    padding: 0;
    font-size: 28px;
}
.gn ul li:nth-child(4) #four{
    padding: 0 49px 0 30px;
    font-size: 28px;
    border-right: 2px dotted #ea36eb;
}
.gn ul li:nth-child(3){
    border-top: 2px dotted #ea36eb;
    width: 350px;
    border-left: 2px dotted #ea36eb;
    border-right: 2px dotted #ea36eb;
    padding-left: 5px;
    border-top-left-radius: 5px;
}
.gn ul li:nth-child(5){
    line-height: 1.2em;
    border-bottom: 2px dotted #ea36eb;
    width: 359px;
    border-bottom-right-radius: 5px;
}
.gn ul li:nth-child(5) span:first-child{
    padding-left: 5px;
    border-left: 2px dotted #ea36eb;
}
.gn ul li:nth-child(5) span:last-child{
    border-right: 2px dotted #ea36eb;

}

/*toll的样式*/
#tool ul{
    list-style-position: inside;
    list-style-type: upper-roman;
}
#tool ul div>ul li{
    list-style-type: none;
    margin-left: 15px;
    border-bottom: 2px dotted #3282F6;
}

/*编辑器的样式*/
#bjq{
    list-style-image: url(images/1.png);
    padding: 0 50px 0 0;
}

/*标题的样式*/
h1{
    text-align: left;
    padding: 20px 0 20px 0 ;
    background-image: url(images/h1bg.png);
    width: 266px;
    height: 114px;
    margin: 0 auto;
    line-height: 114px;
    padding-left: 50px;
}

/*footer的样式*/
#footer{
    font-size: 48px;
    font-weight: 900;
    font-family: huawenxingkai,华文行楷;
    margin: 150px 0 50px 0;
    text-align: center;
    background-color: #99D9EA;
    padding: 50px 0;
}

#footer span{
    font-family: 宋体;
}

/*download的样式*/
#download{
    font-size: 32px;
    margin-top: 50px;  
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
}
#download a{
    padding: 20px 200px;
    background-image: url(images/abg.png);
    text-align: center;
    color: #eee;

}
#download a:hover{
    font-size: 36px;
    color: #333;
    background-image: url(images/bg.jpg);
}

/*web的样式*/
#web ul #ht{
    border: 3px dotted skyblue;
    width: 500px;
    padding-left: 30px;
    margin: 0 auto;
    border-radius: 20px;
    background-image: url(images/bg.jpg);
    color: #fff;
    font-weight: 750;
    margin-bottom: 20px;
}
#web ul{
    list-style-position: inside;
    list-style-type: upper-roman;    
    /*border-top: 2px dotted skyblue;
    border-bottom: 2px double skyblue;*/
}
#web ul #left{
    width: 300px;
    border-bottom: 4px dotted skyblue;
}
#web ul #right{
    height: 10px;
    text-align: right;
    color: skyblue;
    /*border-bottom: 4px dotted skyblue;*/
    font-size: 42px;
    font-weight: 900;
}
#use div{
    width: 500px;
    margin: 0 auto;
    list-style-position: inside;
    border: 2px dotted skyblue;
    border-radius: 8px;
    padding: 30px 40px 30px 40px;
    background-image: url(images/bg.jpg);
    color: #fff;
    font-weight: 750;

}