<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>div{
		background-color: #000;
		color: #fff;
		width: 800px;
		margin: 0 auto;
	}